* {
  margin: 0;
  border: 0;
  font-family: $mainFont;
}

body {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  // background-color: rgb(43, 43, 43);
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.pinimg.com/originals/16/3c/82/163c82a62637c4079e5f4581582cc0d0.jpg");
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: center;
}

.title {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin: 15px;
  font-size: 50px;
}

body>p {

  display: flex;
  justify-content: center;
  font-size: 25px;
  color: azure;
}

.playerTurn {
  font-size: 45px;
}

.winMessage {
  height: 50px;
  font-size: 60px;
  color: aqua;
}