@media only screen and (max-width: 900px){
  body{
    min-width: 400px;
  }
  title {
    font-size: 30px;
  }
  body > p {
    font-size: 15px;
  }
  .playerTurn {
    font-size: 25px;
  }
  .winMessage {
    height: 30px;
    font-size: 40px;
  }
}